body
{
    margin: 0;
    padding: 0;
}

.header
{
    background:linear-gradient(rgba(10, 4, 4, 0.781), rgba(0,0,0,0.25)), url('sea.jpg');
    height: 100vh;
    -webkit-backgroung-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.navbar a
{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: Tahoma;
    margin-right: 80px;
    border: 2px solid transparent;
    transition: 0.3px;
}

.navbar a:hover
{
    background: #000;
    border: 2px solid #fff;
}

.head-content
{
    text-align: center;
}

.head-content img
{
    border-radius: 50%;
    border: 2px solid #fff;
    margin-top: 20px;
}

.head-content img:hover
{
    border:2px solid #000;
}

.name
{
    cursor: pointer;
    font-size: 50px;
    color: #fff;
    font-family: algerian;
}

.desc
{
    cursor: default;
    font-size:30px;
    color: #fff;
    font-family: Harlow Solid;
}

.about-section h2
{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    text-decoration: underline;
}

.about-section p
{
    font-size:30px;
    font-family: roboto;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgba(10, 4, 4, 0.781), rgba(0, 0, 0, 0.25)), url('color-splash.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.contact-title
{
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.contact-title h1{
    font-size: 32px;
    line-height: 10px;
}
.contact-title h2
{
    font-size: 16px;
}
form
{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control
{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom:16px;
}
input
{
    height: 45px;
}
form .submit
{
    background: #fff;
    border-color:transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover
{
    background-color: #f44336;
    cursor: pointer;
}
